---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";

---

<Layout title="Giới thiệu về LegrandFr">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Giới thiệu về LegrandFr</Fragment>
      <Fragment slot="desc">
        Tập đoàn Legrand có mặt tại Việt Nam từ năm 1994. Với hơn 25 năm kinh
        nghiệm, Legrand là nhà cung cấp giải pháp nổi tiếng trên mọi phân khúc
        thị trường tại Việt Nam, với hai văn phòng đại diện đặt tại TP.HCM và Hà
        Nội.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Hãy cùng phiêu lưu với Legrand tại lễ hội Diwali ở Ấn độ cùng với nhóc
        Dhruv
      </h2>
      <YouTube id="https://www.youtube.com/watch?v=EvbexByhK98" />
      <h2 class="font-bold text-3xl text-gray-800 mt-2">
        Legrand trong công cuộc cải thiện cuộc sống
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Hoạt động trên toàn thế giới, Legrand nỗ lực cải thiện cơ sở hạ tầng tòa
        nhà điện và kỹ thuật số, đón nhận sự chuyển đổi sang công nghệ kỹ thuật
        số đồng thời góp phần giảm lượng khí thải carbon. Các giải pháp của
        Legrand được sử dụng trong các tòa nhà dân cư và phi dân cư, cũng như
        trong các trung tâm dữ liệu, khu công nghiệp và cơ sở hạ tầng.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Chuyển đổi không gian nơi mọi người sinh sống, từ nhà ở cá nhân và tập
        thể đến khách sạn và hơn thế nữa.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Chuyển đổi không gian nơi mọi người làm việc, bao gồm trung tâm dữ liệu,
        văn phòng và khu công nghiệp.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Chuyển đổi không gian nơi mọi người gặp gỡ, từ nhà ở đến cửa hàng, bệnh
        viện, trường học, trường đại học, v.v.
      </p>
      <div
        class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
        <h2 class="text-white text-4xl md:text-5xl tracking-tight">
          Liên hệ Hotline <a
            href="https://zalo.me/84965195077"
            rel="noopener"
            target="_blank"><span class="text-red-400">0965195077</span></a
          > để được tư vấn
        </h2>
      </div>
    </div>
  </Container>
</Layout>
