---
// @ts-ignore
import Card from "@components/Card.astro";
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Danh mục sản phẩm
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Thiết kế công tắc và ổ cắm sẽ cải thiện tính thẩm mỹ và khả năng của ngôi
    nhà của bạn
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  <Card
    href="https://www.legrand.com.vn/sites/g/files/ocwmcr406/files/2023-03/ELOE-Legrand-Brochure-EXB22000-web%20%281%29.pdf"
    title="ELOÉ™"
    body="With ELOÉ ™, Everything just ADDS up"
  />
  <Card
    href="https://www.legrand.com.vn/sites/g/files/ocwmcr406/files/2023-03/Arteor%20with%20Netatmo.pdf"
    title="Arteor™ with Netatmo"
    body="Arteor with Netatmo là một phần của chương trình ELIOT của Legrand, chuyên phát triển các giải pháp kết nối bền vững."
  />
  <Card
    href="https://www.legrand.com.vn/sites/g/files/ocwmcr406/files/2023-03/Brochure%20Belanko%20S.pdf"
    title="Belanko™ S"
    body="With Belanko™ S, simplicity meets style."
  />
  <Card
    href="https://www.legrand.com.vn/sites/g/files/ocwmcr406/files/2023-03/Brochure_Galion.pdf"
    title="Galion™"
    body="Phong cách không biên giới."
  />
  <Card
    href="https://www.legrand.com.vn/sites/g/files/ocwmcr406/files/2023-03/Mallia%20Sense%20brochure.pdf"
    title="Mallia Senses™"
    body="Nhẹ nhàng, thanh lịch và tiện dụng, mang đến một luồng không khí trong lành thực sự."
  />
  <Card
    href="https://www.legrand.com.vn/sites/g/files/ocwmcr406/files/2022-10/exb18015boitesdesol-en.pdf"
    title="Brochure Giải Pháp Văn Phòng"
    body="Floor Boxes: Adaptability, modularity & convenience"
  />
</div>
