---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Nhà nhập khẩu và phân phối <span class="text-red-500">Legrand</span>
      tại Việt Nam
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Với nhiều năm kinh nghiệm, LegrandFr là nhà cung cấp nổi tiếng thiết bị
      điện cao cấp trong thị trường Việt Nam. Thường được lựa chọn vào những dự
      án cao cấp nhờ tiêu chuẩn chất lượng cao, mẫu mã đa dạng và đầy đủ các
      chức năng đáp ứng cho thị trường nhà ở, thương mại, khách sạn và công
      nghiệp.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://zalo.me/84965195077"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="icons8:buy" />
        Liên hệ
      </Link>
    </div>
  </div>
</main>
