---
// @ts-ignore
import lotteLogo from "assets/lotte.png";
import evnLogo from "assets/evn.png";
import hillstateHyundaiLogo from "assets/hillstate-hyundai.png";
import keangnamLogo from "assets/keangnam.jpg";
import { Picture } from "@astrojs/image/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Được sự tin tưởng của các đối tác</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Picture
      class="h-8 md:h-12"
      src={lotteLogo}
      alt="Lotte"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
    <Picture
      class="h-8 md:h-12"
      src={evnLogo}
      alt="Lotte"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
    <Picture
      class="h-8 md:h-12"
      src={hillstateHyundaiLogo}
      alt="Lotte"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
    <Picture
      class="h-8 md:h-12"
      src={keangnamLogo}
      alt="Lotte"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
</div>
